#if PRINT_LICENSE
/*
 * Copyright (c) 2020-2025, Sreeni Viswanadha <sreeni@viswanadha.net>.
 * Copyright (c) 2024-2025, Marc Mazas <mazas.marc@gmail.com>.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 *     * Redistributions of source code must retain the above copyright notice,
 *       this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the names of the copyright holders nor the names of its
 *       contributors may be used to endorse or promote products derived from
 *       this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 * THE POSSIBILITY OF SUCH DAMAGE.
 */
#fi
\#ifndef JAVACC_CHAR_STREAM_H
\#define JAVACC_CHAR_STREAM_H

#if LIBRARY
\#include "ImportExport.h"
#fi
\#include "JavaCC.h"

#if NAMESPACE
namespace ${NAMESPACE_OPEN}
#fi

/*
 * The class (declarations) generated by Javacc/cpp (by CppCodeGenerator.java with
 *  cpp/CharStream.h.template) that describes the interface for a character stream that maintains
 *  line and column number positions of the characters.
 * It also has the capability to backup the stream to some extent.
 * An implementation of this interface is used in the TokenManager implementation generated by
 *  JavaCC.
 * All the methods except backup() can be implemented in any fashion.
 * backup() needs to be implemented correctly for the correct operation of the lexer.
 * Rest of the methods are all used to get information like line number, column number
 *  and the String that constitutes a token and are not used by the lexer.
 * Hence their implementation won't affect the generated lexer's operation.
 */
#if LIBRARY
class ${PARSER_NAME_UPPER_CASE}_API CharStream {
#else
class CharStream {
#fi

public:

  /*
   * Returns the next character that marks the beginning of the next token.
   * All characters must remain in the buffer between two successive calls
   *  to this method to implement backup correctly.
   */
  virtual JJChar beginToken() = 0;

  /*
   * Returns the next character from the selected input.
   * The method of selecting the input is the responsibility of the class implementing
   *  this interface. Can throw any java.io.IOException.
   */
  virtual inline JJChar readChar() = 0;

  /*
   * Backs up the input stream by amount steps.
   * The lexer calls this method if it had already read some characters but could not use them
   *  to match a (longer) token. So, they will be used again as the prefix of the next
   *  token and it is the implementation's responsibility to do this right.
   */
  virtual void backup(int amount) = 0;

  /*
   * The lexer calls this function to indicate that it is done with the stream
   *  and hence implementations can free any resources held by this class.
   * Again, the body of this function can be just empty and it will not affect
   *  the lexer's operation.
   */
  virtual void deleteBuffers() = 0;

  /*
   * Returns a string made up of characters from the marked token beginning
   *  to the current buffer position.
   * Implementations have the choice of returning anything that they want to. For example,
   *  for efficiency, one might decide to just return null, which is a valid implementation.
   */
  virtual JJString getImage() = 0;

  /*
   * Returns an array of characters that make up the suffix of length 'len'
   *  for the currently matched token.
   * This is used to build up the matched string for use in actions in the case of MORE.
   * A simple and inefficient implementation of this is as follows :
   *   {
   *      String t = GetImage();
   *      return t.substring(t.length() - len, t.length()).toCharArray();
   *   }
   */
  virtual JJString getSuffix(int len) = 0;

  /*
   * Returns the line number of the first character for current token
   *  (being matched after the last call to BeginToken).
   */
  virtual int getBeginLine() = 0;

  /*
   * Returns the column number of the first character for current token
   *  (being matched after the last call to BeginToken).
   */
  virtual int getBeginColumn() = 0;

  /*
   * Returns the line number of the last character for current token
   *  (being matched after the last call to BeginToken).
   */
  virtual int getEndLine() = 0;

  /*
   * Returns the column number of the last character for current token
   *  (being matched after the last call to BeginToken).
   */
  virtual int getEndColumn() = 0;

  //virtual int getLine() = 0;
  //virtual int getColumn() = 0;

  //virtual bool getTrackLineColumn() = 0;
  //virtual void setTrackLineColumn(bool val) = 0;

  virtual int  getTabSize() = 0;
  virtual void setTabSize(int i) = 0;

  virtual bool endOfInput() = 0;

  virtual ~CharStream() {}

  virtual void ReInit(ReaderStream *input_stream) = 0;
  virtual void ReInit(ReaderStream *input_stream, int startline, int startcolumn) = 0;
  virtual void ReInit(ReaderStream *input_stream, int startline, int startcolumn, int buffersize) = 0;

  virtual void ReInit(const JJString& str, int startline, int startcolumn) = 0;
  virtual void ReInit(const JJString& str, int startline, int startcolumn, int buffersize) = 0;

protected:

  virtual void expandBuff(bool wrapAround) = 0;
  virtual void fillBuff() = 0;

  virtual void adjustBeginLineColumn(int newLine, int newCol) = 0;
  virtual void updateLineColumn(JJChar c) = 0;

}; // end class

#if NAMESPACE
${NAMESPACE_CLOSE} // end namespace
#fi

\#endif
