#if PRINT_LICENSE
/*
 * Copyright (c) 2020-2025, Sreeni Viswanadha <sreeni@viswanadha.net>.
 * Copyright (c) 2024-2025, Marc Mazas <mazas.marc@gmail.com>.
 * All rights reserved.
 * 
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 * 
 *     * Redistributions of source code must retain the above copyright notice,
 *       this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the names of the copyright holders nor the names of its
 *       contributors may be used to endorse or promote products derived from
 *       this software without specific prior written permission.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 * THE POSSIBILITY OF SUCH DAMAGE.
 */
#fi
#if NAMESPACE
namespace ${NAMESPACE_OPEN}
#fi

/*
 * The class definitions generated by Javacc/cpp (by CppCodeGenerator.java
 *  with cpp/ParseException.cc.template) that are used when parse errors are encountered.
 */

ParseException::ParseException() {
}

ParseException::ParseException(const JJString& message) {
}

ParseException::ParseException(   const Token* currentTokenVal,
                                   const int** expectedTokenSequencesVal,
                              const JJString** expectedTokenSequencesLocVal,
                               const JJString* tokenImageVal,
                               const JJString* locationVal) {
  initialise(currentTokenVal,
             expectedTokenSequencesVal,
             expectedTokenSequencesLocVal,
             tokenImageVal,
             locationVal);
  this->currentToken = currentTokenVal;
  this->expectedTokenSequences = expectedTokenSequencesVal;
  this->expectedTokenSequencesLoc = expectedTokenSequencesLocVal;
  this->tokenImage = tokenImageVal;
  this->location = locationVal;
}

JJString ParseException::initialise(const Token* currToken, 
                                     const int** expTokenSequences, 
                                const JJString** expTokenSequencesLoc,
                                 const JJString* tokImage,
                                 const JJString* loc) {

    // For now we don't support full ERROR_REPORTING in the C++ version.
    /* java, to be translated
   ...
     */
  // short implementation
  return (JJChar*)"Parse exception";
}

  /**
   * Used to convert raw characters to their escaped version when these raw version
   *  cannot be used as part of an ASCII string literal.
   */
JJString ParseException::add_escapes(const JJString& str) {

  // For now we don't support full ERROR_REPORTING in the C++ version.
  /* java, to be translated
      final StringBuilder retval = new StringBuilder();
      char ch;
      for (int i = 0; i < str.length(); i++) {
        switch (str.charAt(i)) {
          case '\b':
            retval.append("\\b");
            continue;
          case '\t':
            retval.append("\\t");
            continue;
          case '\n':
            retval.append("\\n");
            continue;
          case '\f':
            retval.append("\\f");
            continue;
          case '\r':
            retval.append("\\r");
            continue;
          case '\"':
            retval.append("\\\"");
            continue;
          case '\'':
            retval.append("\\\'");
            continue;
          case '\\':
            retval.append("\\\\");
            continue;
          default:
            if ((ch = str.charAt(i)) < 0x20 || ch > 0x7e) {
              String s = "0000" + Integer.toString(ch, 16);
              retval.append("\\u" + s.substring(s.length() - 4, s.length()));
            } else {
              retval.append(ch);
            }
        }
      }
      return retval.toString();
  */ 
  // short implementation
  return str;
}

#if NAMESPACE
${NAMESPACE_CLOSE} // end namespace
#fi
