#if PRINT_LICENSE
/*
 * Copyright (c) 2020-2025, Sreeni Viswanadha <sreeni@viswanadha.net>.
 * Copyright (c) 2024-2025, Marc Mazas <mazas.marc@gmail.com>.
 * All rights reserved.
 * 
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 * 
 *     * Redistributions of source code must retain the above copyright notice,
 *       this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the names of of the copyright holders nor the names of its
 *       contributors may be used to endorse or promote products derived from
 *       this software without specific prior written permission.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 * THE POSSIBILITY OF SUCH DAMAGE.
 */
#fi
#if NAMESPACE
namespace ${NAMESPACE_OPEN}
#fi

/*
 * The class definitions generated by Javacc/cpp (by CppCodeGenerator.java with
 *  ParseException.cc.template) that are used when parse errors are encountered.
 */

ParseException::ParseException() {
}

ParseException::ParseException(const JJString& message) {
}

ParseException::ParseException(const Token* currentToken, const int** expectedTokenSequences, const JJString* tokenImage) {
  initialise(currentToken, expectedTokenSequences, tokenImage);
  this->currentToken = currentToken;
  this->expectedTokenSequences = expectedTokenSequences;
  this->tokenImage = tokenImage;
}

JJString ParseException::initialise(const Token* currentToken, const int** expectedTokenSequences, const JJString* tokenImage) {

/* TODO
  // JJString eol = System.getProperty("line.separator", "\n");
   expected = new JJString();
  int maxSize = 0;
  for (int i = 0; i < expectedTokenSequences.length; i++) {
    if (maxSize < expectedTokenSequences[i].length) {
      maxSize = expectedTokenSequences[i].length;
    }
    for (int j = 0; j < expectedTokenSequences[i].length; j++) {
      expected.append(tokenImage[expectedTokenSequences[i][j]]).append(' ');
    }
    if (expectedTokenSequences[i][expectedTokenSequences[i].length - 1] != 0) {
      expected.append((JJChar*)"...");
    }
    expected.append(eol).append("    ");
  }
  JJString retval = (JJChar*)"Encountered \"";
  Token tok = currentToken.next;
  for (int i = 0; i < maxSize; i++) {
    if (i != 0) retval += (JJChar*)" ";
    if (tok.kind == 0) {
      retval += tokenImage[0];
      break;
    }
    retval += (JJChar*)" " + tokenImage[tok.kind];
    retval += (JJChar*)" \"";
    retval += add_escapes(tok.image);
    retval += (JJChar*)" \"";
    tok = tok.next;
  }
  retval += (JJChar*)"\" at line " + currentToken.next.beginLine + (JJChar*)", column " + currentToken.next.beginColumn;
  retval += (JJChar*)"." + eol;
  if (expectedTokenSequences.length == 1) {
    retval += (JJChar*)"Was expecting:" + eol + (JJChar*)"    ";
  } else {
    retval += (JJChar*)"Was expecting one of:" + eol + (JJChar*)"    ";
  }
  retval += expected.toString();
  return retval;
*/

  return (JJChar*)"Parse exception";
}

\#define eol "\n"

/**
 * Used to convert raw characters to their escaped version
 * when these raw version cannot be used as part of an ASCII
 * string literal.
 */
JJString ParseException::add_escapes(const JJString& str) {

/* TODO
  JJString *retval = new JJString();
  JJChar ch;
  for (int i = 0; i < str.length(); i++) {
    switch (str.charAt(i))
    {
       case '\b':
          retval.append("\\b");
          continue;
       case '\t':
          retval.append("\\t");
          continue;
       case '\n':
          retval.append("\\n");
          continue;
       case '\f':
          retval.append("\\f");
          continue;
       case '\r':
          retval.append("\\r");
          continue;
       case '\"':
          retval.append("\\\"");
          continue;
       case '\'':
          retval.append("\\\'");
          continue;
       case '\\':
          retval.append("\\\\");
          continue;
       default:
          if ((ch = str.charAt(i)) < 0x20 || ch > 0x7e) {
             JJString s = "0000" + Integer.toString(ch, 16);
             retval.append("\\u" + s.substring(s.length() - 4, s.length()));
          } else {
             retval.append(ch);
          }
          continue;
    }
  }
  return retval.toString();
*/ 

  return str;
}

#if NAMESPACE
${NAMESPACE_CLOSE} // end namespace
#fi
