#if PRINT_LICENSE
/*
 * Copyright (c) 2020-2025, Sreeni Viswanadha <sreeni@viswanadha.net>.
 * Copyright (c) 2024-2025, Marc Mazas <mazas.marc@gmail.com>.
 * All rights reserved.
 * 
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 * 
 *     * Redistributions of source code must retain the above copyright notice,
 *       this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the names of of the copyright holders nor the names of its
 *       contributors may be used to endorse or promote products derived from
 *       this software without specific prior written permission.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 * THE POSSIBILITY OF SUCH DAMAGE.
 */
#fi
\#ifndef JAVACC_TOKEN_MANAGER_ERROR_H
\#define JAVACC_TOKEN_MANAGER_ERROR_H

\#include "JavaCC.h"

#if NAMESPACE
namespace ${NAMESPACE_OPEN}
#fi

enum LexerErrors {
  LEXICAL_ERROR = 0,         // Lexical error occurred.
  STATIC_LEXER_ERROR = 1,    // An attempt was made to create a second instance of a  token manager.
  INVALID_LEXICAL_STATE = 2, // Tried to change to an invalid lexical state.
  LOOP_DETECTED = 3,         // Detected (and bailed out of) an infinite loop in the token manager.
};

/*
 * The class (declarations) generated by JavaCC/cpp (by CppCodeGenerator.java with
 *  TokenManagerError.h.template) used when TokenManager errors are encountered.
 */
class TokenManagerError {

public:

  TokenManagerError();
  TokenManagerError(const JJString& message, int reason);
  TokenManagerError(bool EOFSeen, int lexState, int errorLine, int errorColumn, const JJString& errorAfter, JJChar curChar, int reason) ;
  virtual ~TokenManagerError();
  
  /* Indicates the reason why the exception is thrown. It will have one of the above 4 values. */
  int errorCode;

  /*
   * Returns a detailed message for the Error when it is thrown by the token manager
   *  to indicate a lexical error.<br>
   * Note: You can customize the lexical error message by modifying this method.
   *
   * @param eofSeen - true if EOF caused the lexical error
   * @param curLexState - lexical state in which this error occurred
   * @param errorLine - line number when the error occurred
   * @param errorColumn - column number when the error occurred
   * @param errorAfter - prefix that was seen before this error occurred
   * @param curchar - the offending character
   */
   virtual JJString lexicalError(bool EOFSeen, int lexState, int errorLine, int errorColumn, const JJString& errorAfter, JJChar curChar);

  /*
   * You can also modify the body of this method to customize your error messages.
   * For example, cases like LOOP_DETECTED and INVALID_LEXICAL_STATE are not
   * of end-users concern, so you can return something like :
   *
   *     "Internal Error : Please file a bug report .... "
   *
   * from this method for such cases in the release version of your parser.
   */
  JJString getMessage() ;
  
private:

  JJString message;

}; // end class

#if NAMESPACE
${NAMESPACE_CLOSE} // end namespace
#fi

\#endif
