#if PRINT_LICENSE
/*
 * Copyright (c) 2020-2025, Sreeni Viswanadha <sreeni@viswanadha.net>.
 * Copyright (c) 2024-2025, Marc Mazas <mazas.marc@gmail.com>.
 * All rights reserved.
 * 
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 * 
 *     * Redistributions of source code must retain the above copyright notice,
 *       this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the names of of the copyright holders nor the names of its
 *       contributors may be used to endorse or promote products derived from
 *       this software without specific prior written permission.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 * THE POSSIBILITY OF SUCH DAMAGE.
 */
#fi
namespace JavaCC {

/*
 * The class definitions generated by JavaCC/cpp (by TokenCodeGenerator.java with
 *  Token.cc.template) that describe a token.
 */
 
Token::Token() :  _beginLine(0), _beginColumn(0), _endLine(0), _endColumn(0) {
  this->_kind = 0;
  this->_next = nullptr;
  this->_specialToken = nullptr;
}

Token::Token(int kind) :  _beginLine(0), _beginColumn(0), _endLine(0), _endColumn(0) {
  this->_kind = kind;
  this->_next = nullptr;
  this->_specialToken = nullptr;
}

Token::Token(int kind, const JJString& image) : _beginLine(0), _beginColumn(0), _endLine(0), _endColumn(0) {
  this->_kind = kind;
  this->_image = image;
  this->_next = nullptr;
  this->_specialToken = nullptr;
}

Token* Token::newToken(int kind, const JJString& image) {
  switch(kind) {
    default : return new Token(kind, image);
  }
}

Token* Token::newToken(int kind) {
  return newToken(kind, JJString());
}

Token::~Token() {
  if (_specialToken) delete _specialToken;
  this->_kind = 0;
  this->_next = nullptr;
  this->_specialToken = nullptr;
}

} // end namespace