#if PRINT_LICENSE
/*
 * Copyright (c) 2020-2025, Sreeni Viswanadha <sreeni@viswanadha.net>.
 * Copyright (c) 2024-2025, Marc Mazas <mazas.marc@gmail.com>.
 * All rights reserved.
 * 
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 * 
 *     * Redistributions of source code must retain the above copyright notice,
 *       this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the names of of the copyright holders nor the names of its
 *       contributors may be used to endorse or promote products derived from
 *       this software without specific prior written permission.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 * THE POSSIBILITY OF SUCH DAMAGE.
 */
#fi
\#ifndef JAVACC_${PARSER_NAME_UPPER_CASE}_TOKEN_MANAGER_H
\#define JAVACC_${PARSER_NAME_UPPER_CASE}_TOKEN_MANAGER_H

#if LIBRARY
\#include "ImportExport.h"
#fi
\#include "JavaCC.h"
\#include "CharStream.h"
#if tokenInclude
\#include "${tokenInclude}"
#fi
\#include "ParserErrorHandler.h"
\#include "TokenManager.h"
\#include "${parserName}Constants.h"
#if TOKEN_MANAGER_USES_PARSER
\#include "${parserName}.h"
#fi

#if NAMESPACE
namespace ${NAMESPACE_OPEN}
#fi

/*
 * The class (declarations) generated by JavaCC/cpp (from TokenManagerDriver.h.template &
 *  TokenManagerGenerator.java) that tokenizes input for the parser.
 */
#if LIBRARY
class ${PARSER_NAME_UPPER_CASE}_API ${parserName}TokenManager : public TokenManager {
#else
class ${parserName}TokenManager : public TokenManager {
#fi

private:
  int defaultLexState;
  int curLexState = ${defaultLexState};
  int jjmatchedPos;
  int jjmatchedKind;
  int moveIndex;
#if CPP_USE_ARRAY
  Array<${nfaSize}, Array<${charsVectorSize}, unsigned long long>> jjChars;
#else
  unsigned long long jjChars[${nfaSize}][${charsVectorSize}];
#fi
  JJString                  jjimage;
  JJString                  image;
  int                       jjimageLen;
  int                       lengthOfMatch;
  JJChar                    curChar;
  CharStream*               input_stream;
  TokenManagerErrorHandler* errorHandler;
  bool                      delete_eh;
  int                       jjrounds[${stateSetSize}];
  int                       jjstateSet[2 * ${stateSetSize}];

public: 
  ${parserName}TokenManager(CharStream* stream, int lexState = 0);
  virtual ~${parserName}TokenManager() {}
  Token* getNextToken();
#if COMMON_TOKEN_ACTION
  void   CommonTokenAction(Token* token);
#fi
#if TOKEN_MANAGER_USES_PARSER
  void   setParser(void* parser);

protected:	
  ${parserName}* parser;
#else

protected:
#fi
  bool   moveToNextChar();
  void   ReInit(CharStream* stream, int lexState = 0);
  void   SwitchTo(int lexState);

private:
  void   tokenLexicalActions(Token* matchedToken);
  void   skipLexicalActions(const Token* matchedToken);
  void   moreLexicalActions();
  int    getStartAndSize(int index, int isCount);
  int    jjRunStringLiteralMatch();
  int    jjMoveNfa(int startState, int curPos);
  Token* jjFillToken();
  
public:
  void   lexicalError();
  const  TokenManagerErrorHandler* getErrorHandler() const;
  
}; // end class ${parserName}TokenManager

#if NAMESPACE
${NAMESPACE_CLOSE} // end namespace
#fi

\#endif
