#if PRINT_LICENSE
/*
 * Copyright (c) 2020-2025, Sreeni Viswanadha <sreeni@viswanadha.net>.
 * Copyright (c) 2024-2025, Marc Mazas <mazas.marc@gmail.com>.
 * All rights reserved.
 * 
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 * 
 *     * Redistributions of source code must retain the above copyright notice,
 *       this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the names of the copyright holders nor the names of its
 *       contributors may be used to endorse or promote products derived from
 *       this software without specific prior written permission.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 * THE POSSIBILITY OF SUCH DAMAGE.
 */
#fi
/*
 * The class definitions generated by JavaCC/cpp (by TokenManagerGenerator.java
 *  with cpp/TokenManagerDriver.cc.template) that tokenize input for the parser.
 */
 
/* Constructor. */
${parserName}TokenManager::${parserName}TokenManager(CharStream* stream, int lexState) {
  ReInit(stream, lexState);
}

// Beginning of user token manager declarations
${decls}
// End of user token manager declarations

#if TOKEN_MANAGER_USES_PARSER
void ${parserName}TokenManager::setParser(void* parser) {
  this->parser = static_cast<${parserName}*>(parser);
}

#fi
/* Reinitialise the parser. */
void ${parserName}TokenManager::ReInit(CharStream* stream, int lexState) {
  defaultLexState = ${defaultLexState};
  curLexState = ${defaultLexState};
  moveIndex = 1;
  errorHandler = nullptr;
  delete_eh = false;
#if CPP_USE_ARRAY
  std::memset(jjChars.base(), 0, sizeof(jjChars));
#else
  std::memset(jjChars, 0, sizeof(jjChars));
#fi 
  for (int i = 0; i < ${nfaSize}; i++) {
    int ind = 0;
    // We originally generate something like RLE for the static arrays
    //  and we actually expand them here.
    for (int j = 0; j < jjCharData[i][0]; j += 2) {
      for (int k = 0; k < jjCharData[i][j + 1]; k++) {
        jjChars[i][ind++] = jjCharData[i][j + 2];
      }
    }
  }
  jjmatchedPos = 0;
  curLexState = defaultLexState;
  input_stream = stream;
  SwitchTo(lexState);
  errorHandler = new DefaultTokenManagerErrorHandler();
}

/* Switch to specified lex state. */
void ${parserName}TokenManager::SwitchTo(int lexState) {
  if (lexState > ${lastLexState} || lexState < ${firstLexState}) {
    JJString message;
    message += JJWIDE(Error: Ignoring invalid lexical state :);
    message += JJSPACE;
    message += lexState;
    message += JJWIDE(. State unchanged.);
    throw new TokenManagerError(message, INVALID_LEXICAL_STATE);
  } else
    curLexState = lexState;
}

void ${parserName}TokenManager::lexicalError() {
  std::clog << "Lexical error encountered." << std::endl;
}

const TokenManagerErrorHandler* ${parserName}TokenManager::getErrorHandler() const {
  return errorHandler;
}

static bool isToken(int kind) {
  return (jjtoToken[kind >> 6] & (1L << (kind & 077))) != 0L;
}

static bool isSkip(int kind) {
  return (jjtoSkip[kind >> 6] & (1L << (kind & 077))) != 0L;
}

static bool isSpecial(int kind) {
  return (jjtoSpecial[kind >> 6] & (1L << (kind & 077))) != 0L;
}

static bool isMore(int kind) {
  return (jjtoMore[kind >> 6] & (1L << (kind & 077))) != 0L;
}

/* Get the next Token. */
Token * ${parserName}TokenManager::getNextToken() {
  Token * specialToken = nullptr;
  Token * matchedToken;
  int lastReadPosition = 0;

  EOFLoop:
  for (;;) {
    // First see if we have any input at all.
    if(input_stream->endOfInput()) {
#if DEBUG_TOKEN_MANAGER
      if (trace_enabled()) {
        JJERR << disp_state(curLexState) << JJSPACE
              << JJWIDE(Reached EOF (1st)) 
#if KEEP_LINE_COLUMN
              << JJCOMMA << JJSPACE << JJWIDE(@) << JJSPACE
              << input_stream->getBeginLine() << JJWIDE(:) << input_stream->getBeginColumn()
#fi
              << JJSPACE << JJWIDE((tm)) << std::endl;
      }
#fi
      // No input. So return EOF token.
      jjmatchedKind = _EOF;
      jjmatchedPos = -1;
      matchedToken = jjFillToken();
      matchedToken->specialToken() = specialToken;
      return matchedToken;
    }

    curChar = input_stream->beginToken();
#if DEBUG_TOKEN_MANAGER
    if (trace_enabled()) {
      JJERR << JJWIDE(Read 1st char for any kind:) << JJSPACE << disp_char(curChar)
#if KEEP_LINE_COLUMN
            << JJCOMMA << JJSPACE << JJWIDE(@) << JJSPACE
            << input_stream->getBeginLine() << JJWIDE(:) << input_stream->getBeginColumn()
#fi
            << JJSPACE << JJWIDE((tm)) << std::endl;
    }
#fi
#if IGNORE_CASE
    curChar = towlower(curChar);
#fi
#if DEBUG_TOKEN_MANAGER
    if (trace_enabled()) {
      JJERR << disp_state(curLexState) << JJSPACE
            << JJWIDE(Current input char:) << JJSPACE << disp_char(curChar)
#if KEEP_LINE_COLUMN
            << JJCOMMA << JJSPACE << JJWIDE(@) << JJSPACE
            << input_stream->getBeginLine() << JJWIDE(:) << input_stream->getBeginColumn()
#fi
            << JJSPACE << JJWIDE((tm)) << std::endl;
    }
#fi

    // Set matched kind to a MAX VALUE to implement largest, first occurring rule
    // i.e., smallest kind value matched should be used.
    image = jjimage;
    // image->setLength(0);
    jjimageLen = 0;

    for (;;) { // inner loop
      jjmatchedKind = INT_MAX;
      jjmatchedPos = 0;
#if !NO_DFA
      lastReadPosition = jjRunStringLiteralMatch();
#else
      lastReadPosition = jjMoveNfa(0, 0);
#fi

      if (jjmatchedPos == 0 && jjmatchedKind > canMatchAnyChar[curLexState]) {
        jjmatchedKind = canMatchAnyChar[curLexState];
#if DEBUG_TOKEN_MANAGER
        if (trace_enabled()) {
          JJERR << JJWIDE(Matched current char:) << JJSPACE << disp_char(curChar)
                << JJSPACE << JJWIDE(as a wildcard kind:)  << JJSPACE << jjmatchedKind
                << JJSPACE << JJWIDE((tm)) << std::endl;
        }
#fi
      }

      if (jjmatchedKind == INT_MAX) {
        jjmatchedKind = jjInitialMatchForLexState[curLexState];
        jjmatchedPos = -1;
#if DEBUG_TOKEN_MANAGER
        if (trace_enabled()) {
          JJERR << JJWIDE(Matched empty string as kind:) << JJSPACE << jjmatchedKind
                << JJSPACE << JJWIDE((tm)) << std::endl;
        }
#fi
      }
      if (jjmatchedKind != INT_MAX) {
        // We have a match!
#if DEBUG_TOKEN_MANAGER
          if (trace_enabled()) {
          JJERR << JJWIDE(Put back:) << JJSPACE << (lastReadPosition - jjmatchedPos)
                << JJSPACE << JJWIDE(looked ahead chars (tm)) << std::endl;
        }
#fi
        // Put back any characters looked ahead.
        input_stream->backup(lastReadPosition - jjmatchedPos);
        
        if (isToken(jjmatchedKind)) {
          // Matched kind is a real TOKEN.
          matchedToken = jjFillToken();
          matchedToken->specialToken() = specialToken;
          tokenLexicalActions(matchedToken);
          if (jjnewLexState[jjmatchedKind] != -1) {
            curLexState = jjnewLexState[jjmatchedKind];
          }
#if COMMON_TOKEN_ACTION
          CommonTokenAction(matchedToken);
#fi
#if DEBUG_TOKEN_MANAGER
          if (trace_enabled()) {
            JJERR << JJWIDE(Found a TOKEN MATCH ***: <) << jjmatchedKind
                  << JJSPACE << JJWIDE(/) << JJSPACE
                  << tokenImage[jjmatchedKind]
                  << JJSPACE << JJWIDE(/) << JJSPACE
                  << JJDBQUOTE << addUnicodeEscapes(matchedToken->image()) << JJDBQUOTE
                  << JJWIDE(> at lexical state:) << JJSPACE << curLexState
                  << JJWIDE(; returning (tm)) << std::endl;
          }
#fi
          return matchedToken;
        }

        if (isSkip(jjmatchedKind)) {
          // Matched kind is a SKIP.
#if DEBUG_TOKEN_MANAGER
          if (trace_enabled()) {
            JJERR << JJWIDE(Found a SKIP match: <) << jjmatchedKind
                  << JJWIDE(> at lexical state:) << JJSPACE << curLexState
                  << JJWIDE(; continuing (tm)) << std::endl;
          }
#fi
          skipLexicalActions(nullptr);
          if (jjnewLexState[jjmatchedKind] != -1) {
            curLexState = jjnewLexState[jjmatchedKind];
          }
          goto EOFLoop;
        }

        if (isSpecial(jjmatchedKind)) {
          // Matched kind is a SPECIAL_TOKEN.
          matchedToken = jjFillToken();
#if DEBUG_TOKEN_MANAGER
          if (trace_enabled()) {
            JJERR << JJWIDE(Found a SPECIAL_TOKEN match: <) << jjmatchedKind
                  << JJSPACE << JJWIDE(/) << JJSPACE
                  << JJDBQUOTE << addUnicodeEscapes(matchedToken->image()) << JJDBQUOTE
                  << JJWIDE(> at lexical state:) << JJSPACE << curLexState
                  << JJWIDE(; continuing (tm)) << std::endl;
          }
#fi
          if (specialToken == nullptr) {
            specialToken = matchedToken;
          } else {
            matchedToken->specialToken() = specialToken;
            specialToken = (specialToken->next() = matchedToken);
          }
          skipLexicalActions(matchedToken);
          if (jjnewLexState[jjmatchedKind] != -1) {
            curLexState = jjnewLexState[jjmatchedKind];
          }
          goto EOFLoop;
        }

        // Here it's a MORE.
        moreLexicalActions();
        if (jjnewLexState[jjmatchedKind] != -1) {
          curLexState = jjnewLexState[jjmatchedKind];
        }
#if DEBUG_TOKEN_MANAGER
        if (trace_enabled()) {
          JJERR << JJWIDE(Found a MORE match <) << jjmatchedKind
                << JJWIDE(> at lexical state:) << JJSPACE << curLexState
                << JJWIDE(; reading (tm)) << std::endl;
        }
#fi
        lastReadPosition = 0;
        jjmatchedKind = INT_MAX;
        do {
          curChar = input_stream->readChar();
// **** TODO see EOF handling + tracing ****
#if DEBUG_TOKEN_MANAGER
          if (trace_enabled()) {
            JJERR << JJWIDE(Read next char for a MORE:) << JJSPACE << disp_char(curChar)
#if KEEP_LINE_COLUMN
                  << JJCOMMA << JJSPACE << JJWIDE(@) << JJSPACE
                  << input_stream->getBeginLine() << JJWIDE(:) << input_stream->getBeginColumn()
#fi
                  << JJSPACE << JJWIDE((tm)) << std::endl;
          }
#fi
#if IGNORE_CASE
          curChar = towlower(curChar);
#fi
        } while(curChar >= 0);
      }
      
      /* reportError inlined */
      int error_line = input_stream->getEndLine();
      int error_column = input_stream->getEndColumn();
      JJString error_after = JJEMPTY;
      bool EOFSeen = false;
      if(input_stream->endOfInput()) {
        EOFSeen = true;
        error_after = lastReadPosition <= 1 ? JJEMPTY : input_stream->getImage();
        if (curChar == '\n' || curChar == '\r') {
          error_line++;
          error_column = 0;
        } else {
          error_column++;
        }
      }
      if (!EOFSeen) {
        error_after = lastReadPosition <= 1 ? JJEMPTY : input_stream->getImage();
      }
      errorHandler->lexicalError(EOFSeen, curLexState, error_line, error_column, error_after, curChar);
      goto EOFLoop;
    } // inner loop
  } // EOFLoop
}

Token * ${parserName}TokenManager::jjFillToken() {
  Token * t;
  JJString curTokenImage;
#if KEEP_LINE_COLUMN
  int beginLine;
  int endLine;
  int beginColumn;
  int endColumn;
#fi
  if (jjmatchedPos < 0) {
    if (image.length() == 0) {
      curTokenImage = JJEMPTY;
    } else {
      curTokenImage = image;
    }
#if KEEP_LINE_COLUMN
    beginLine = endLine = input_stream->getEndLine();
    beginColumn = endColumn = input_stream->getEndColumn();
#fi
  } else {
    JJString im = jjstrLiteralImages[jjmatchedKind];
    curTokenImage = (im.length() == 0) ? input_stream->getImage() : im;
#if KEEP_LINE_COLUMN
    beginLine = input_stream->getBeginLine();
    beginColumn = input_stream->getBeginColumn();
    endLine = input_stream->getEndLine();
    endColumn = input_stream->getEndColumn();
#fi
  }
#if TOKEN_FACTORY
  t = ${TOKEN_FACTORY}::newToken(jjmatchedKind, curTokenImage);
#else
  t = ${tokenClass}::newToken(jjmatchedKind, curTokenImage);
#fi
#if KEEP_LINE_COLUMN
  t->beginLine() = beginLine;
  t->endLine() = endLine;
  t->beginColumn() = beginColumn;
  t->endColumn() = endColumn;
#fi
  return t;
}

#if !NO_DFA
int ${parserName}TokenManager::jjRunStringLiteralMatch() {
  int curPos = 0;
  int key = (int)curLexState << 16 | curChar;
  int startState = jjInitStates[curLexState];
  int index = getStartAndSize(key, 0);
  if (index != -1) {
    for (int i = 0; i < getStartAndSize(key, 1); i++) {
      int len = (int) stringLiterals[index++];
      int ignoreCase = (int) stringLiterals[index++];
#if DEBUG_TOKEN_MANAGER
      if (trace_enabled()) {
        JJERR << JJSPACE << JJSPACE
              << JJWIDE(Looking for string literal match of token: <)
              << stringLiterals[index + len]
              << JJSPACE << JJWIDE(/) << JJSPACE
              << tokenImage[stringLiterals[index + len]]
              << JJWIDE(> (tm)) << std::endl;
      }
#fi
      do {
#if DEBUG_TOKEN_MANAGER
        if (trace_enabled()) {
          JJERR << JJSPACE << JJSPACE
                << JJWIDE(Cur char:) << JJSPACE << disp_char(curChar)
                << JJSPACE << JJWIDE((tm)) << std::endl;
        }
#fi
        if (curChar != stringLiterals[index + curPos] &&
            (ignoreCase == 0 || curChar != stringLiterals[index + len + curPos]))
          break;
        if (++curPos == len)
          break;
        if (!moveToNextChar()) {
          --curPos;
          break;
        }
      } while(curPos < len);
      
      if (curPos == len) {
        jjmatchedKind = (int) stringLiterals[index + len + (ignoreCase * len)];
        jjmatchedPos = curPos;
        startState = (int) stringLiterals[index + len + (ignoreCase * len) + 1];
#if DEBUG_TOKEN_MANAGER
        if (trace_enabled()) {
          JJERR << JJSPACE << JJSPACE
                << JJWIDE(Currently matched the first:) << JJSPACE
                << jjmatchedPos
                << JJSPACE << JJWIDE(chars as token: <)
                << stringLiterals[index + len]
                << JJSPACE << JJWIDE(/) << JJSPACE
                << tokenImage[jjmatchedKind]
                << JJWIDE(> (tm)) << std::endl;
        }
#fi
        if (startState < 0 || !moveToNextChar()) {
          return curPos;
        }
        curPos++;
        break;
      } else {
        index += len + (ignoreCase * len) + 2;
        input_stream->backup(curPos + 1);
        curPos = 0;
        if (!moveToNextChar()) {
          assert(false);
        }
      }
    } // end for
#if DEBUG_TOKEN_MANAGER
  } else {
    if (trace_enabled()) {
      JJERR << JJSPACE << JJSPACE
            << JJWIDE(No string literal start with char:) << JJSPACE << disp_char(curChar)
            << JJSPACE << JJWIDE((tm)) << std::endl;
    }
#fi
  }
  return jjMoveNfa(startState, curPos);
}

#fi
bool ${parserName}TokenManager::moveToNextChar() {
  if(input_stream->endOfInput())
    return false;
  curChar = input_stream->readChar();
#if IGNORE_CASE
  curChar = towlower(curChar);
#fi
  return true;
}

int ${parserName}TokenManager::jjMoveNfa(int startState, int curPos) {

  if (startState < 0) {
#if DEBUG_TOKEN_MANAGER
    if (trace_enabled()) {
      JJERR << JJSPACE << JJSPACE << JJSPACE << JJSPACE
            << JJWIDE(No NFA start state) << JJCOMMA
            << JJSPACE << JJWIDE(at pos:) << JJSPACE << curPos
            << JJSPACE << JJWIDE((tm)) << std::endl;
    }
#fi
    return curPos;
  }

#if CPP_USE_ARRAY
  Array<${generatedStates}, int> stateSet;
  Array<${generatedStates}, int> newStateSet;
  Array<${generatedStates}, int> moved;
#else
  int stateSet[${generatedStates}];
  int newStateSet[${generatedStates}];
  int moved[${generatedStates}];
#fi
  // We have an array indexed by the NFA state number to roughly indicate
  // the input position so when the input reaches part INT_MAX (which
  // should be extremely rare), we need to reset them all back to zero.
  if (++moveIndex == INT_MAX) {
    for (int i = 0; i < ${generatedStates}; i++) moved[i] = 0;
    moveIndex = 1;
  }

    // We initialize the kind to MAX value so that when a match is found, we can
    // simply check if it's less than the current match and store it in that case.
    // This helps implement the 'first occurring' rule properly.
  int cnt = 0;
  stateSet[cnt++] = startState;
  moved[startState] = moveIndex;
 
    // Some NFA states have epsilon transitions (move on empty string).
    // So we just start with all of them. Note that the nextStates array already adds
    // the epsilon closure. Only the initial state needs to do this explicitly.
  for (int s : jjcompositeState[startState]) { 
    if (moved[s] != moveIndex) {
      stateSet[cnt++] = s;
      moved[s] = moveIndex;
    }
  }

#if DEBUG_TOKEN_MANAGER
  if (trace_enabled()) {
    JJERR << JJSPACE << JJSPACE << JJSPACE << JJSPACE 
          << JJWIDE(Starting NFA with start state:) << JJSPACE << disp_state(startState)
          << JJSPACE << JJWIDE((tm)) << std::endl;
  }
#fi
  do {
#if DEBUG_TOKEN_MANAGER
    if (trace_enabled()) {
      JJERR << JJSPACE << JJSPACE << JJSPACE << JJSPACE
            << JJWIDE(Cur char:) << JJSPACE << disp_char(curChar)
            << JJSPACE << JJWIDE((tm)) << std::endl;
    }
#fi
    int newCnt = 0;
    int kind = INT_MAX;
    if (++moveIndex == INT_MAX) {
      for (int i = 0; i < ${generatedStates}; i++) moved[i] = 0;
      moveIndex = 1;
    }

    int vectorIndex = curChar >> 6;
    unsigned long long bitpattern = (1ULL << (curChar & 0x3f));
    do {
      int state = stateSet[--cnt];
#if DEBUG_TOKEN_MANAGER
      if (trace_enabled()) {
        JJERR << JJSPACE << JJSPACE << JJSPACE << JJSPACE 
              << JJWIDE(Looking to move from state:) << JJSPACE << disp_state(state)
              << JJCOMMA << JJSPACE << JJWIDE(for token: <);
        if (jjmatchKinds[state] != INT_MAX) {
          JJERR << jjmatchKinds[state] << JJSPACE << JJWIDE(/) << JJSPACE
                << addUnicodeEscapes(tokenImage[jjmatchKinds[state]]);
        } else {
          JJERR << JJWIDE(UNKNOWN);
        }
        JJERR << JJWIDE(> (tm)) << std::endl;
      }
#fi
    bool canMoveThisNFAState = (jjChars[state][vectorIndex] & bitpattern) != 0L;
    if (canMoveThisNFAState) {
        // Current input character can move this NFA state.
        // So add all the next states of the current states for use with the next input char.
        for (int idx = 0; idx < jjnextStateSet[state][0]; idx++) {
          int newState = jjnextStateSet[state][idx + 1];
          if (moved[newState] != moveIndex) {
            // We add each state only once.
            newStateSet[newCnt++] = newState;
            moved[newState] = moveIndex;
          }
        }
        int newKind = jjmatchKinds[state];
        if (kind > newKind) {
          // It's a state so store the matched kind if it's smaller than what's already matched.
          kind = newKind;
#if DEBUG_TOKEN_MANAGER
          if (trace_enabled()) {
            JJERR << JJSPACE << JJSPACE << JJSPACE << JJSPACE
                  << JJWIDE(Found a match of kind:) << JJSPACE << kind << JJSPACE
                  << addUnicodeEscapes(tokenImage[kind])
                  << JJSPACE << JJWIDE(using the first:) << JJSPACE
                  << curPos << JJSPACE << JJWIDE(characters)
                  << JJSPACE << JJWIDE((tm)) << std::endl;
          }
#fi
        }
      }
    } while (cnt > 0);

    if (kind != INT_MAX) {
      // We found a match. So remember the kind and position of the match.
      jjmatchedKind = kind;
      jjmatchedPos = curPos;
      // Reset the kind to max value so we can continue looking for a longer match.
      kind = INT_MAX;
    }

    // Swap the current and next state sets.
    int tmp;
    for (int i = 0; i < ${generatedStates}; i++) {
      tmp = stateSet[i];
      stateSet[i] = newStateSet[i];
      newStateSet[i] = tmp;
    }
    // Reset the number of states.
    cnt = newCnt;
    if (newCnt == 0) {
      // There were no transitions from any of the current states on the current input.
      // So we are done.
#if DEBUG_TOKEN_MANAGER
      if (trace_enabled()) {
        JJERR << JJSPACE << JJSPACE << JJSPACE << JJSPACE
              << JJWIDE(Done with NFA)
              << JJCOMMA << JJSPACE << JJWIDE(at pos:) << JJSPACE << curPos
              << JJSPACE << JJWIDE((tm)) << std::endl;
      }
#fi
      return curPos;
    }
    // Read the next character and try to continue running the NFA.
    if (!moveToNextChar()) {
      // EOF reached!
#if DEBUG_TOKEN_MANAGER
      if (trace_enabled()) {
        JJERR << JJSPACE << JJSPACE << JJSPACE << JJSPACE
              << JJWIDE(Reached EOF (nfa))
              << JJCOMMA << JJSPACE << JJWIDE(at pos:) << JJSPACE << curPos
              << JJSPACE << JJWIDE((tm)) << std::endl;
      }
#fi
      return curPos;
    }
    ++curPos;
  } while (cnt > 0);

  throw "Internal error. Please submit a bug at:https://github.com/javacc/javacc-8/issues";
  
//  return curPos;
}

\#if (JAVACC_CHAR_TYPE_SIZEOF == 1)
JJString ${parserName}TokenManager::disp_state(int state) {
  JJString str = "<";
  if (state < lexStateNamesLen)
    str += lexStateNames[state];
  else
    str += ","; 
  str += ">-";
  str += std::to_string(state);
  return str;
}

JJString ${parserName}TokenManager::disp_char(int ic) {
  return "`" + std::to_string(ic) + " / '" + add_escapes(ic) + "'´";
}
\#else
JJString ${parserName}TokenManager::disp_state(int state) {
  JJString str = L"<";
  if (state < lexStateNamesLen)
    str += lexStateNames[state];
  else
    str += L","; 
  str += L">-";
  str += std::to_wstring(state);
  return str;
}

JJString ${parserName}TokenManager::disp_char(int ic) {
  return std::to_wstring(ic) + L" / '" + add_escapes(ic) + L"'";
}
\#endif

static char hexChar(int i) {
  if (i < 10) {
    return i + '0';
  }
  return 'a' + (i - 10);
}

  /**
   * Used to convert raw characters to their escaped version when these raw version
   *  cannot be used as part of an ASCII string literal.
   */
\#if (JAVACC_CHAR_TYPE_SIZEOF == 1)
JJString ${parserName}TokenManager::add_escapes(int ch) {
  switch (ch) {
    case 8:         // '\b'
      return "\\b";
    case 9:         // '\t'
      return "\\t";
    case 10:        // '\n'
      return "\\n";
    case 12:        // '\f'
      return "\\f";
    case 13:        // '\r'
      return "\\r";
//    case 34:        // '\"'
//      return "\\"";
//    case 39:        // '\''
//      return "\\'";
    case 92:        // '\\':
      return "\\\\";
    default:
      if (ch < 0x20 || ch > 0x7e) {
        JJString s = "\\u";
        s += (hexChar(ch >> 12));
        s += (hexChar((ch & 0x0f00) >> 8));
        s += (hexChar((ch & 0x00f0) >> 4));
        s += (hexChar(ch & 0x000f));
        return s;
      } else {
        JJString s(1, (char) ch);
        return s;
      }
  }
}
\#else
JJString ${parserName}TokenManager::add_escapes(int ch) {
  switch (ch) {
    case 8:         // '\b'
      return L"\\b";
    case 9:         // '\t'
      return L"\\t";
    case 10:        // '\n'
      return L"\\n";
    case 12:        // '\f'
      return L"\\f";
    case 13:        // '\r'
      return L"\\r";
//    case 34:        // '\"'
//      return L"\\"";
//    case 39:        // '\''
//      return L"\\'";
    case 92:        // '\\':
      return L"\\\\";
    default:
      if (ch < 0x20 || ch > 0x7e) { // TODO check:  0xff20 / 0xff7e ???
        JJString s = L"\\u";
        s += (hexChar(ch >> 12));
        s += (hexChar((ch & 0x0f00) >> 8));
        s += (hexChar((ch & 0x00f0) >> 4));
        s += (hexChar(ch & 0x000f));
        return s;
      } else {
        JJString s(1, (wchar) ch);
        return s;
      }
  }
}
\#endif
